<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label> Code</label>
        <input class="input" type="text" placeholder="Enter code" name="code">
      </div>
      
      <div class="field">
        <label> Temp</label>
        <input class="input" type="text" placeholder="Enter Temperature in *C" name="temperature">
      </div>
      <div class ="field">
        <label> Wind Speed</label>
        <input class="input" type="text" placeholder="Enter Wind Speed in km/H" name="windSpeed">
      </div>
      <div class ="field">
        <label>Wind Direction</label>
        <input class ="input" type="text" placeholder="Enter Wind Direction in degree" name="windDirection">
      </div>
      <div class="field">
        <label>Pressure</label>
        <input class= "input" type="text" placeholder="Enter Pressure in hPa" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-link">
    Submit Report
  </button>
</form>