<div class="title p-3 is-flex">
  {{> icons/logo}}
  <div class="ml-4 is-size-4 has-text-link">Weather-Top </div>
  <div class="ml-6 pt-2 is-size-6">
    {{station.title}} Weather Station
  </div>
</div>