<section class="box">
  <div class="columns has-background-white is-size-6">
    <div class="column ">
      <header class="card header has-background-black">
        <p class="card-header-title has-text-white">{{title}} &nbsp&nbsp&nbsp&nbsp {{> icons/station}}</p>
      </header>
      <div class="card-content has-background-black">
        <div class="content has-text-white">
          <b>lat:</b> {{latitude}} <br>
          <b>long:</b> {{longitude}}
        </div>
      </div>
    </div>
    <div class="column card ">
      <header class="card header has-background-black">
        <p class="card-header-title has-text-white">Weather</p>
      </header>
      <div class="card-content has-background-black">
        <div class="content has-text-white">
          <p 
             No Weather information
          </p>  
        </div>
      </div>
    </div>
    <div class="column card ">
      <header class="card header has-background-black">
        <p class="card-header-title has-text-white">Temperature</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          <p>
            No weather data available
          </p>
        </div>
      </div>
    </div>
    <div class="column card h">
      <header class="card header has-background-black">
        <p class="card-header-title has-text-white">Wind</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          <p>
            No weather data available
          </p>
        </div>
      </div>
    </div>
    <div class="column card">
      <header class="card header has-background-black">
        <p class="card-header-title has-text-white">Pressure</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          <p>
            No weather data available
          </p>
        </div>
      </div>
    </div>
  </div>
</section>