{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather-Top Station App
  </h3>
  <div class="section">
    This is an app where the user will be able to see weather related data from different stations around Ireland.
  </div>
</section>