{{> menu active="about"}}

<section class="box">
  <div class="columns">
    <div class="column">
      <h3 class="title pt-6 has-text-centered">
        Weather-Top Station App
      </h3>
      <div class="pt-6 has-text-centered">
        This is an app where the user will be able to see weather related data from different stations around Ireland.
      </div>
    </div>
    <div class ="column">
       <img src="https://cdn.glitch.global/4f8dd324-2430-43fc-b3bb-1233580166d0/assignment.png?v=1718893423683" class=" image is-256x256 ">
    </div>
  </div>
</section>