{{> menu active="dashboard"}}

<section class="box has-text-left">
  <h3 class="is-3 title">
    Main Dashboard 
  </h3>
  <div class="section">
    <p>
      Here are the Stations where data is stored. Add a station by filling in the Station name and pressing the button!
    </p>
  </div>
  {{> map}}
  {{> add-station}}
  {{> list-station}}
  
 
  
  
  
</section>
