{{> welcome-menu active="signup"}}



<section class="section">
  <div class="columns">    
    <div class ="column">
      <img src="https://cdn.glitch.global/4f8dd324-2430-43fc-b3bb-1233580166d0/assignment.png?v=1718893423683" class=" image is-256x256 ">
    </div>
    <div class ="column">
      <h1 class="title">Sign up</h1>
      <form action="/register" method="POST">
        <label class="label">Name</label>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" placeholder="Enter first name" name="firstName">
            </div>
            <div class="field">
              <input class="input" type="text" placeholder="Enter last name" name="lastName">
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
        </div>
        <div class="field">
          <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
        </div>
        <div class="field is-grouped">
          <button class="button is-link">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>